<header id="site-header" class="site-header__v1">
	{% include 'common/header/top-bar.html' %}
	{% include 'common/header/navigation.html' %}
</header>

<!-- Account Sidebar Navigation - Mobile -->
{% include 'common/header/account-sidebar-navigation-mobile.html' %}
<!-- End Account Sidebar Navigation - Mobile -->

<!-- Account Sidebar Navigation - Desktop -->
{% include 'common/header/account-sidebar-navigation-desktop.html' %}
<!-- End Account Sidebar Navigation - Desktop -->

<!-- Cart Sidebar Navigation -->
{% include 'common/header/cart-sidebar-navigation.html' %}
<!-- End Cart Sidebar Navigation -->

<!-- Categories Sidebar Navigation -->
{% include 'common/header/categories-sidebar-navigation.html' %}
<!-- End Categories Sidebar Navigation -->
