{% extends 'common/BASE.html' %}

{% block title %}
	Authors | Bookworm
{% endblock %}

{% block main_content %}
    <main id="content">
        <div class="space-bottom-2 space-bottom-lg-3">
            <div class="pb-lg-1">
                <div class="page-header border-bottom">
                    <div class="container">
                        <div class="d-md-flex justify-content-between align-items-center py-4">
                            <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Authors</h1>
                            <nav class="woocommerce-breadcrumb font-size-2">
                                <a href="../home/index.html" class="h-primary">Home</a>
                                <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                                <span>Authors</span>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="u-cubeportfolio mb-5 mb-lg-7">
                        <!-- Filter -->

                        <!-- End Filter -->

                        <!-- Content -->
                        <div class="cbp"
                           data-layout="grid"
                           data-controls="#filterControls"
                           data-animation="quicksand"
                           data-x-gap="20"
                           data-y-gap="100"
                           data-media-queries='[
                            {"width": 1100, "cols": 5},
                            {"width": 800, "cols": 3},
                            {"width": 480, "cols": 1}
                          ]'>
							{% for author in authors %}
                            <!-- Item -->
								<div class="cbp-item graphic">
									<a class="cbp-caption" href="{% url 'author detail' author.id %}">
										<img class="rounded-circle img-fluid mb-3" src="{{ author.image.url }}" alt="{{ author.name}}">
										<div class="py-3 text-center">
											<h4 class="h6 text-dark">{{ author.name }}</h4>
											<span class="font-size-2 text-secondary-gray-700">{{ author.book_set.count }} Published Books</span>
										</div>
									</a>
								</div>
								<!-- End Item -->
							{% endfor %}
                        </div>
                        <!-- End Content -->
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-wide border-dark text-dark rounded-0 transition-3d-hover">Load More</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
