{% extends 'common/BASE.html' %}
{% block title %}
	My Account | Bookworm
{% endblock %}

{% block main_content %}
    <main id="content">
        <div class="container">
            <div class="row">
                {% include 'shop/my-account-side-menu-common.html' %}
                <div class="col-md-9">
                    <div class="tab-content" id="pills-tabContent">
                        {% block account_page %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
