{% extends 'common/BASE.html' %}

{% block title %}
	{{ article.title }} | Blog
{% endblock %}l

{% block main_content %}
    <main id="content" role="main">
        <div class="mb-5 mb-lg-8 pb-xl-1">
            <div class="container">
                <div>
                    <img class="center align-items-md-center" src="{{ article.image.url }}" width="1400" alt="{{ article.title }}">

                    <div class="max-width-940 mx-auto bg-white position-relative">
                        <div class=" mt-n10 mt-md-n13 pt-5 pt-lg-7 px-3 px-md-5 pl-xl-10 pr-xl-8">
                            <div class="ml-xl-4">
                                <div class="mb-5 mb-lg-7">
                                    <h6 class="font-size-10 crop-text-2 font-weight-medium text-lh-1dot4">
                                        {{ article.title }}
                                    </h6>
                                    <div class="font-size-2 text-secondary-gray-700">
                                        <span>{{ article.date }}</span>
                                        <span class="ml-3">{{ article.writer }}</span> <!-- TODO -->
										<p>
											<a href="{% url 'update article' article.id %}" class="btn btn-success">Edit Article</a>
											<a href="{% url 'delete article' article.id %}" class="btn btn-danger">Delete Article</a>
										</p>
                                    </div>
                                </div>
                                <!-- <p class="font-weight-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam,</p> -->
                                <!-- <p class="font-size-2 text-lh-1dot72 mb-4">Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum. </p> -->
                                <p class="font-size-2 text-lh-1dot72 mb-3 pb-1">{{ article.text }}</p>
                                <!-- <p class="font-size-2 text-lh-1dot72">Pellentesque sodales augue eget ultricies ultricies. Cum sociis natoque penatibus et</p>  -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 mx-auto">
                        <div class="px-3 px-md-5 pl-xl-10 pr-xl-4">
                            <div class="ml-xl-4">



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
