{% extends 'common/BASE.html' %}

{% block title %}
	Blog | Bookworm
{% endblock %}

{% block main_content %}
    <main id="content">
        <div class="mb-5 mb-lg-8">
			{% if user.is_staff %}<a href="{% url 'create article'%}" class="btn btn-block btn-outline-dark">Create Article</a>{% endif %}
                <div class="container">
				<p></p>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

                                {% for article in blog %}
									<div class="col">
										<div class="mb-5">
											<a class="d-block mb-3" href="{% url 'article' article.id %}">
												<img class="img-fluid" src="{{ article.image.url }}" alt="{{ article.title }}">
											</a>
											<h6 class="font-size-26 crop-text-2 font-weight-medium text-lh-1dot4">
												<a href="{% url 'article' article.id %}">{{ article.title }}</a>
											</h6>
											<div class="font-size-2 text-secondary-gray-700">
												<span>{{ article.date }}</span>
												<span class="ml-3">{{ article.writer }}</span>
											</div>
										</div>
									</div>
								{% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

