{% extends 'common/BASE.html' %}

{% block title %}
	{{ article.title }} | Blog
{% endblock %}l

{% block main_content %}
    <main id="content" role="main">
        <div class="mb-5 mb-lg-8 pb-xl-1">
            <div class="container">
                <div>
                    <img class="center align-items-md-center" src="{{ article.image.url }}" width="1400" alt="{{ article.title }}">

                    <div class="max-width-940 mx-auto bg-white position-relative">
                        <div class=" mt-n10 mt-md-n13 pt-5 pt-lg-7 px-3 px-md-5 pl-xl-10 pr-xl-8">
                            <div class="ml-xl-4">
                                <div class="mb-5 mb-lg-7">
                                    <div class="mb-2">
                                        <span class="font-size-2 text-primary">Romance</span> <!-- TODO -->
                                    </div>
                                    <h6 class="font-size-10 crop-text-2 font-weight-medium text-lh-1dot4">
                                        {{ article.title }}
                                    </h6>
                                    <div class="font-size-2 text-secondary-gray-700">
                                        <span>{{ article.date }}</span>
                                        <span class="ml-3">{{ article.writer }}</span> <!-- TODO -->
										<p>
											<a href="{% url 'update article' article.id %}" class="btn btn-success">Edit Article</a>
											<a href="{% url 'delete article' article.id %}" class="btn btn-danger">Delete Article</a>
										</p>
                                    </div>
                                </div>
                                <!-- <p class="font-weight-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam,</p> -->
                                <!-- <p class="font-size-2 text-lh-1dot72 mb-4">Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum. </p> -->
                                <p class="font-size-2 text-lh-1dot72 mb-3 pb-1">{{ article.text }}</p>
                                <!-- <p class="font-size-2 text-lh-1dot72">Pellentesque sodales augue eget ultricies ultricies. Cum sociis natoque penatibus et</p>  -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 mx-auto">
                        <div class="px-3 px-md-5 pl-xl-10 pr-xl-4">
                            <div class="ml-xl-4">
                                <div class="border-bottom mb-5 pb-5">
                                    <div class="d-flex ">
                                        <a class="btn d-flex align-items-center justify-content-center bg-gray-200 rounded-0 transition-3d-hover font-size-2 mr-2 height-38 width-80" href="#">Books</a>

                                        <a class="btn d-flex align-items-center justify-content-center bg-gray-200 rounded-0 transition-3d-hover font-size-2 mr-2 height-38 width-110" href="#">Romance</a>

                                        <a class="btn d-flex align-items-center justify-content-center bg-gray-200 rounded-0 transition-3d-hover font-size-2 mr-2 height-38 width-70" href="#">Art</a>

                                        <a class="btn d-flex align-items-center justify-content-center bg-gray-200 rounded-0 transition-3d-hover font-size-2 mr-0 height-38 width-59" href="#">Kids</a>
                                    </div>
                                </div>


                                <div class="mb-5 mb-md-7">
                                    <div class="d-md-flex justify-content-between">
                                        <a class="d-block mb-5 mb-md-0" href="#">
                                            <div class="d-flex">
                                                <div>
                                                    <div class="bg-gray-200 p-2 rounded-circle d-inline-block">
                                                        <i class="flaticon-left-arrow text-dark mx-1"></i>
                                                    </div>
                                                </div>
                                                <div class="ml-3">
                                                    <div class="font-size-2 text-secondary-gray-700">PREVIOUS POST</div>
                                                    <span class="link-black-100">Wardrobe Essentials Chinos</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="d-block" href="#">
                                            <div class="d-flex">
                                                <div>
                                                    <div class="font-size-2 text-right text-secondary-gray-700">PREVIOUS POST</div>
                                                    <span class="link-black-100">Wardrobe Essentials Chinos </span>
                                                </div>
                                                <div class="ml-3">
                                                    <div class="bg-gray-200 p-2 rounded-circle d-inline-block">
                                                        <i class="flaticon-right-arrow text-dark mx-1"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="border-bottom mb-5 pb-5">
                                    <h6 class="font-weight-medium font-size-3 mb-4">You May Also Like</h6>
                                    <div class="row row-cols-1 row-cols-lg-2">
                                        <div class="col">
                                            <div class="mb-5 mb-lg-0">
                                                <a class="d-block mb-2" href="../blog/blog-single.html">
                                                    <img class="img-fluid" src="https://placehold.it/360x250" alt="Image-Description">
                                                </a>

                                                <div>
                                                    <div class="mb-2">
                                                        <a class="font-size-2" href="../blog/blog-single.html">Romance</a>
                                                    </div>
                                                     <h6 class="font-weight-medium font-size-3 pr-lg-7 text-lh-md">
                                                        <a href="../blog/blog-single.html">Signficant reading has a more info number</a>
                                                    </h6>
                                                    <p class="font-size-2 text-secondary-gray-700">It’s nice to win awards. Last night, the Ueno team in Reykjavík came home from the Icelandic Web Awards.</p>
                                                    <div class="font-size-2 text-secondary-gray-700">
                                                        <span>10 November, 2020</span>
                                                        <span class="ml-md-3">0 comments</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <a class="d-block mb-2" href="../blog/blog-single.html">
                                                <img class="img-fluid" src="https://placehold.it/360x250" alt="Image-Description">
                                            </a>

                                            <div>
                                                <div class="mb-2">
                                                    <a class="font-size-2" href="../blog/blog-single.html">Romance</a>
                                                </div>
                                                 <h6 class="font-weight-medium font-size-3 text-lh-md">
                                                    <a href="../blog/blog-single.html">Activities of the Frankfurt Book International</a>
                                                </h6>
                                                <p class="font-size-2 text-secondary-gray-700">It’s nice to win awards. Last night, the Ueno team in Reykjavík came home from the Icelandic Web Awards.</p>
                                                <div class="font-size-2 text-secondary-gray-700">
                                                    <span>10 November, 2020</span>
                                                    <span class="ml-md-3">0 comments</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
