{% extends 'common/BASE.html' %}

{% block title %}
	Blog | Bookworm
{% endblock %}

{% block main_content %}
    <main id="content">
        <div class="mb-5 mb-lg-8">
			<a href="{% url 'create article'%}" class="btn btn-block btn-outline-dark">Create Article</a>
                <div class="container">
				<p></p>
                    <ul class="nav justify-content-md-center nav-gray-700 mb-5 flex-nowrap flex-md-wrap overflow-auto overflow-md-visible" id="featuredBooks" role="tablist">
                        <li class="nav-item mx-5 mb-1 flex-shrink-0 flex-md-shrink-1">
                            <a class="nav-link px-0 active" id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="true">History
                            </a>
                        </li>
                        <li class="nav-item mx-5 mb-1 flex-shrink-0 flex-md-shrink-1">
                            <a class="nav-link px-0" id="onsale-tab" data-toggle="tab" href="#onsale" role="tab" aria-controls="onsale" aria-selected="false">Science & Math</a>
                        </li>
                        <li class="nav-item mx-5 mb-1 flex-shrink-0 flex-md-shrink-1">
                            <a class="nav-link px-0" id="mostviewed-tab" data-toggle="tab" href="#mostviewed" role="tab" aria-controls="mostviewed" aria-selected="false">Romance</a>
                        </li>
                        <li class="nav-item mx-5 mb-1 flex-shrink-0 flex-md-shrink-1">
                            <a class="nav-link px-0" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="false">Travel</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

                                {% for article in blog %}
									<div class="col">
										<div class="mb-5">
											<a class="d-block mb-3" href="{% url 'article' article.id %}">
												<img class="img-fluid" src="{{ article.image.url }}" alt="{{ article.title }}">
											</a>
											<div class="mb-2">
												<a class="font-size-2" href="../blog/blog-single.html">Romance</a>
											</div>
											<h6 class="font-size-26 crop-text-2 font-weight-medium text-lh-1dot4">
												<a href="../blog/blog-single.html">{{ article.title }}</a>
											</h6>
											<div class="font-size-2 text-secondary-gray-700">
												<span>{{ article.date }}</span>
												<span class="ml-3">{{ article.writer }}</span>
											</div>
										</div>
									</div>
								{% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

