<!doctype html>
<html lang="en">
<head>
	{%  load static %}
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Create Article</title>
	{% include 'common/header/head-formatting.html' %}
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
	{% include 'common/HEADER.html' %}
	<h1>Create Article</h1>
	<form method="post" class="furniture-form" action="{% url 'create article' %}" enctype="multipart/form-data">
		{{ form }}
		{% csrf_token %}
		<button type="submit" class="btn btn-success">Create</button>
	</form>

	{% include 'common/scripts.html' %}
</body>
</html>
