{% load static %}
<div class="space-1">
	<div class="container">
		<div class="d-lg-flex text-center text-lg-left justify-content-between align-items-center">
			<!-- Copyright -->
			<p class="mb-3 mb-lg-0 font-size-2">©2020 Book Worm. All rights reserved</p>
			<!-- End Copyright -->

			<div class="ml-auto d-lg-flex align-items-center">
				<div class="mb-4 mb-lg-0 mr-5">
				   <img class="img-fluid" src="{% static 'img/324x38/img1.png' %}" alt="Image-Description">
				</div>
				{#% include 'common/footer/language-currency-dropdown.html' %#}
			</div>
		</div>
	</div>
</div>
