<!-- Select -->
<select class="js-select selectpicker dropdown-select mb-3 mb-lg-0"
	data-style="border px-4 py-2 rounded-0 height-5 outline-none shadow-none form-control font-size-2"
	data-dropdown-align-right="true">
	<option value="one" selected>English (United States)</option>
	<option value="two">Deutsch</option>
	<option value="three">Français</option>
	<option value="four">Español</option>
</select>
<!-- End Select -->

<!-- Select -->
<select class="js-select selectpicker dropdown-select ml-md-3"
	data-style="border px-4 py-2 rounded-0 height-5 outline-none shadow-none form-control font-size-2"
	data-dropdown-align-right="true"
	data-width="fit">
	<option value="one" selected>$ USD</option>
	<option value="two">€ EUR</option>
	<option value="three">₺ TL</option>
	<option value="four">₽ RUB</option>
</select>
