<div class="space-bottom-2 space-bottom-md-3">
	<div class="text-center mb-5">
		<h5 class="font-size-7 font-weight-medium">Join Our Newsletter</h5>
		<p class="text-gray-700">Signup to be the first to hear about exclusive deals, special offers and upcoming collections</p>
	</div>
	<!-- Form Group -->
	<div class="form-row justify-content-center">
		<div class="col-md-5 mb-3 mb-md-2">
			<div class="js-form-message">
				<div class="input-group">
					<input type="text" class="form-control px-5 height-60 border-dark" name="name" id="signupSrName" placeholder="Enter email for weekly newsletter." aria-label="Your name" required="" data-msg="Name must contain only letters." data-error-class="u-has-error" data-success-class="u-has-success">
				</div>
			</div>
		</div>
		<div class="col-sm-2 ml-md-2">
			<button type="submit" class="btn btn-dark rounded-0 btn-wide py-3 font-weight-medium">Subscribe
			</button>
		</div>
	</div>
	<!-- End Form Group -->
</div>
