{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Home | Bookworm</title>

    {% include 'common/header/head-formatting.html' %}
</head>
<body>
    <!--===== HEADER CONTENT =====-->

	{% include 'common/HEADER.html' %}

    <!--===== END HEADER CONTENT =====-->

    <!-- ====== MAIN CONTENT ====== -->
    <section class="space-bottom-3">
        <div class="bg-gray-200 space-2 space-lg-0 bg-img-hero" style="background-image: url({% static 'img/1920x588/img1.jpg'%});">
            <div class="container">
                <div class="js-slick-carousel u-slick"
                    data-pagi-classes="text-center u-slick__pagination position-absolute right-0 left-0 mb-n8 mb-lg-4 bottom-0">
					{% for book in featured_books %}
                    <div class="js-slide">
                        <div class="hero row min-height-588 align-items-center">
                            <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                                <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2"
                                    data-scs-animation-in="fadeInUp"
                                    data-scs-animation-delay="200">The Bookworm Editors'</p>
                                    <h2 class="hero__title font-size-14 mb-4"
                                    data-scs-animation-in="fadeInUp"
                                    data-scs-animation-delay="300">
                                        <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                                        <span class="hero__title-line-2 font-weight-bold d-block">August</span>
                                    </h2>
                                    <a href="{% url 'book detail' book.id %}" class="btn btn-dark btn-wide rounded-0 hero__btn"
                                    data-scs-animation-in="fadeInLeft"
                                    data-scs-animation-delay="400">See More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-wd-6"
                            data-scs-animation-in="fadeInRight"
                            data-scs-animation-delay="500">
                                <img  src="{{ book.cover_image.url }}" height="580" alt="image-description">
                            </div>
                        </div>
                    </div>
					{% endfor %}

                </div>
            </div>
        </div>
    </section>
    <section class="space-bottom-3">
        <div class="container">
            <header class="mb-5 d-md-flex justify-content-between align-items-center">
                <h2 class="font-size-7 mb-3 mb-md-0">Featured Categories</h2>
                <!-- <a href="../shop/v1.html" class="h-primary d-block">All Categories <i class="glyph-icon flaticon-next"></i></a> -->
            </header>
            <ul class="list-unstyled my-0 row row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-wd-5">
                <li class="product-category col mb-4 mb-xl-0">
                    <div class="product-category__inner bg-indigo-light px-6 py-5">
                        <div class="product-category__icon font-size-12 text-primary-indigo"><i class="glyph-icon flaticon-gallery"></i></div>
                        <div class="product-category__body">
                            <h3 class="text-truncate font-size-3">{{ arts_category.category }}</h3>
                            <a href="{% url 'list books' arts_category.id %}" class="stretched-link text-dark">Shop Now</a>
                        </div>
                    </div>
                </li>
                <li class="product-category col mb-4 mb-xl-0">
                    <div class="product-category__inner bg-tangerine-light px-6 py-5">
                        <div class="product-category__icon font-size-12 text-tangerine"><i class="glyph-icon flaticon-cook"></i></div>
                        <div class="product-category__body">
                            <h3 class="text-truncate font-size-3">{{ food_category.category }}</h3>
                            <a href="{% url 'list books' food_category.id %}" class="stretched-link text-dark">Shop Now</a>
                        </div>
                    </div>
                </li>
                <li class="product-category col mb-4 mb-xl-0">
                    <div class="product-category__inner bg-chili-light px-6 py-5">
                        <div class="product-category__icon font-size-12 text-chili"><i class="glyph-icon flaticon-like"></i></div>
                        <div class="product-category__body">
                            <h3 class="text-truncate font-size-3">{{ romance_category.category }}</h3>
                            <a href="{% url 'list books' romance_category.id %}" class="stretched-link text-dark">Shop Now</a>
                        </div>
                    </div>
                </li>
                <li class="product-category col mb-4 mb-xl-0">
                    <div class="product-category__inner bg-carolina-light px-6 py-5">
                        <div class="product-category__icon font-size-12 text-carolina"><i class="glyph-icon flaticon-doctor"></i></div>
                        <div class="product-category__body">
                            <h3 class="text-truncate font-size-3">{{ health_category.category }}</h3>
                            <a href="{% url 'list books' health_category.id %}" class="stretched-link text-dark">Shop Now</a>
                        </div>
                    </div>
                </li>
                <li class="product-category col mb-4 mb-xl-0 d-xl-none d-wd-block">
                    <div class="product-category__inner bg-punch-light px-6 py-5">
                        <div class="product-category__icon font-size-12 text-punch"><i class="glyph-icon flaticon-resume"></i></div>
                        <div class="product-category__body">
                            <h3 class="text-truncate font-size-3">{{ biography_category.category }}</h3>
                            <a href="{% url 'list books' biography_category.id %}" class="stretched-link text-dark">Shop Now</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="space-bottom-3">
        <div class="container">
            <header class="mb-5 d-md-flex justify-content-between align-items-center">
                <h2 class="font-size-7 mb-3 mb-md-0">Bestselling Books</h2>
            </header>

            <div class="js-slick-carousel products no-gutters border-top border-left border-right"
                data-pagi-classes="d-xl-none text-center position-absolute right-0 left-0 u-slick__pagination mt-4 mb-0"
                data-arrows-classes="d-none d-xl-block u-slick__arrow u-slick__arrow-centered--y"
                data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10"
                data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10"
                data-slides-show="5"
                data-responsive='[{
                   "breakpoint": 1500,
                   "settings": {
                     "slidesToShow": 4
                   }
                },{
                   "breakpoint": 1199,
                   "settings": {
                     "slidesToShow": 3
                   }
                },{
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 2
                   }
                }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 1
                   }
                }, {
                   "breakpoint": 554,
                   "settings": {
                     "slidesToShow": 1
                   }
                }]'>
				{% for book in bestselling_books %}
                <div class="product">
                    <div class="product__inner overflow-hidden p-3 p-md-4d875">
                        <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                            <div class="woocommerce-loop-product__thumbnail">
                                <a href="{% url 'book detail' book.id %}" class="d-block"><img src="{{ book.cover_image.url }}" height="226" width="150" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="{{ book.title }}"></a>
                            </div>
                            <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                <div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="">{{ book.format }}</a></div>
                                <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="{% url 'book detail' book.id %}">{{ book.title }}</a></h2>
                                <div class="font-size-2  mb-1 text-truncate"><a href="{% url 'author detail' book.author.id %}" class="text-gray-700">{{ book.author }}</a></div>
                                <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>{{ book.price }}</span>
                                </div>
                            </div>
                            <div class="product__hover d-flex align-items-center">
                                <a href="../shop/single-book.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                    <span class="product__add-to-cart">ADD TO CART</span>
                                    <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
                                </a>
                                <a href="{% url 'add to wishlist' book.id %}" class="h-p-bg btn btn-outline-primary border-0">
                                    <i class="flaticon-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
				{% endfor %}
            </div>
        </div>
    </section>
    <section class="space-bottom-3">
        <div class="container">
            <header class="d-md-flex justify-content-between align-items-center mb-8">
                <h2 class="font-size-7 mb-3 mb-md-0">Favorite Authors</h2>
                <a href="{% url 'authors list' %}" class="h-primary d-block">View All <i class="glyph-icon flaticon-next"></i></a>
            </header>
            <ul class="row rows-cols-5 no-gutters authors list-unstyled js-slick-carousel u-slick"
                data-slides-show="5"
                data-arrows-classes="u-slick__arrow u-slick__arrow-centered--y"
                data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10"
                data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10"
                data-responsive='[{
                    "breakpoint": 1025,
                    "settings": {
                        "slidesToShow": 3
                    }
                }, {
                    "breakpoint": 992,
                    "settings": {
                        "slidesToShow": 2
                    }
                }, {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 1
                    }
                }, {
                    "breakpoint": 554,
                    "settings": {
                        "slidesToShow": 1
                    }
                }]'>
				{% for author in favorite_authors %}
                <li class="author col">
                    <a href="{% url 'author detail' author.id %}" class="text-reset">
                        <img src="{{ author.image.url }}" height="142" width="142" class="mx-auto mb-5 d-block rounded-circle" alt="{{ author.name }}">
                        <div class="author__body text-center">
                            <h2 class="author__name h6 mb-0">{{ author.name }}</h2>
                            <div class="text-gray-700 font-size-2">{{ author.book_set.count }} Published Books</div>
                        </div>
                    </a>
                </li>
				{% endfor %}
            </ul>
        </div>
    </section>
    <!-- ====== END MAIN CONTENT ====== -->

    <!-- ========== FOOTER ========== -->
    {% include 'common/FOOTER.html' %}
    <!-- ========== END FOOTER ========== -->

	{% include 'common/scripts.html' %}

</body>
</html>
