<div class="topbar border-bottom d-none d-md-block">
	<div class="container-fluid px-2 px-md-5 px-xl-8d75">
		<div class="topbar__nav d-md-flex justify-content-between align-items-center">
			<ul class="topbar__nav--left nav ml-md-n3">
				<li class="nav-item"><a href="tel:+359800987654" class="nav-link link-black-100"><i class="glph-icon flaticon-phone mr-2"></i>+359 80-098-7654</a></li>
			</ul>
			<ul class="topbar__nav--right nav mr-md-n3">
				<!--
				<li class="nav-item"><a href="#" class="nav-link link-black-100"><i class="glph-icon flaticon-pin"></i></a></li>
				<li class="nav-item"><a href="#" class="nav-link link-black-100"><i class="glph-icon flaticon-switch"></i></a></li>
				-->
				<li class="nav-item"><a href="{% url 'wishlist' %}" class="nav-link link-black-100"><i class="glph-icon flaticon-heart"></i></a></li>
				<li class="nav-item">
					<!-- Account Sidebar Toggle Button -->
					<a id="sidebarNavToggler"
					   href={% if user.is_authenticated %}"{% url 'account details' %}"
					   		{% else %}{% url 'login user' %}
					   		{% endif %}
					   role="button" class="nav-link link-black-100"
						aria-controls="sidebarContent"
						aria-haspopup="true"
						aria-expanded="false"
						data-unfold-event="click"
						data-unfold-hide-on-scroll="false"

						data-unfold-type="css-animation"
						data-unfold-overlay='{
							"className": "u-sidebar-bg-overlay",
							"background": "rgba(0, 0, 0, .7)",
							"animationSpeed": 500
						}'
						data-unfold-animation-in="fadeInRight"
						data-unfold-animation-out="fadeOutRight"
						data-unfold-duration="500">
						<i class="glph-icon flaticon-user"></i>
					</a>  <!-- data-unfold-target="#sidebarContent"-->
					<!-- End Account Sidebar Toggle Button -->
				</li>
				<li class="nav-item">
					<!-- Cart Sidebar Toggle Button -->
					<a id="sidebarNavToggler1" href="javascript:;" role="button" class="nav-link link-black-100 position-relative"
						aria-controls="sidebarContent1"
						aria-haspopup="true"
						aria-expanded="false"
						data-unfold-event="click"
						data-unfold-hide-on-scroll="false"
						data-unfold-target="#sidebarContent1"
						data-unfold-type="css-animation"
						data-unfold-overlay='{
							"className": "u-sidebar-bg-overlay",
							"background": "rgba(0, 0, 0, .7)",
							"animationSpeed": 500
						}'
						data-unfold-animation-in="fadeInRight"
						data-unfold-animation-out="fadeOutRight"
						data-unfold-duration="500">
						<span class="position-absolute bg-dark width-16 height-16 rounded-circle d-flex align-items-center justify-content-center text-white font-size-n9 right-0">
							3 <!-- if 0: hide it -->
						</span>
						<i class="glph-icon flaticon-icon-126515"></i>
					</a>
					<!-- End Cart Sidebar Toggle Button -->
				</li>
			</ul>
		</div>
	</div>
</div>
